In [1]:
import pandas as pd
import numpy as np

credits_df = pd.read_csv('tmdb_5000_credits.csv')
credits_df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [2]:
movies_df = pd.read_csv('tmdb_5000_movies.csv')
movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

#### Content Based Filtering Using Overview Column From movies_df:

Lets make a new data frame that consists of relevant columns for us to use; movie id and title from credits, movie id and overview from movies

In [3]:
df1 = movies_df[['id','overview']]
df2 = credits_df[['movie_id','title']]

In [4]:
df2.rename(columns = {'movie_id':'id'}, inplace = True)
movie_overview = pd.merge(df1,df2,on = 'id')
movie_overview.head()

c:\users\admin8\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,id,overview,title
0,19995,"In the 22nd century, a paraplegic Marine is di...",Avatar
1,285,"Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End
2,206647,A cryptic message from Bondâ€™s past sends him o...,Spectre
3,49026,Following the death of District Attorney Harve...,The Dark Knight Rises
4,49529,"John Carter is a war-weary, former military ca...",John Carter

In [5]:
movie_overview = movie_overview.reindex(columns = ['title','overview'])

In [6]:
movie_overview.head()

,title,overview
0,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,The Dark Knight Rises,Following the death of District Attorney Harve...
4,John Carter,"John Carter is a war-weary, former military ca..."

We need a means to quantify the overview in such a manner that machines can understand; enter tdfifvectoriser:

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words = 'english')

movie_overview['overview'].isna().sum()

3

We ought to deal with movies whose overview columns are NaN values:

In [8]:
movie_overview['overview'].fillna('',inplace = True)

In [9]:
overview_matrix = vectorizer.fit_transform(movie_overview['overview'])

In [10]:
overview_matrix.shape

(4803, 20978)

In [11]:
from sklearn.metrics.pairwise import sigmoid_kernel
#sigmoid function normalises input to produce an output between 0 and 1, which can be used as a means to compute similarity between each vector

sigmoid = sigmoid_kernel(overview_matrix, overview_matrix)
#output will be a 4803x4803 matrix where each element in every row is a reflection of how similar every column is to a given row element

In [12]:
sigmoid[0] #the larger the value, the greater the similarity

array([0.76161417, 0.76159416, 0.76159416, ..., 0.76159416, 0.76159416,
       0.76159416])

So right now, the process of getting a recommendation would go something like this:

Given movie x ---> Get movie x's index from the movie_overview data frame ---> use the index to get similarity coefficient from sigmoid function ---> Recommend something

In [13]:
a = int(movie_overview[movie_overview['title']== "Pirates of the Caribbean: At World's End"].index[0])

In [14]:
def sig_rec_movie(n, given_movie, sig_matrix = sigmoid):
    
    #get movie index:
    m_idx =  int(movie_overview[movie_overview['title']== given_movie].index[0])
    
    #get similarity coefficient; we enumerate because we will need to sort the values
    sims = list(enumerate(sig_matrix[m_idx]))
    
    #sort sims according to similarity
    sims = sorted(sims, key = lambda x:x[1], reverse = True)
    
    #lets recommend n number of movies
    movie_num = sims[1:n] #we dont include sims[0] because a given movie will always have highest similarity score with itself
    
    #get list of movies
    movie_out = []
    for i in movie_num:
        movie_out.append(movie_overview.iloc[i[0]]['title'])
    
    return movie_out

In [15]:
a = sig_rec_movie(5, 'Toy Story', sig_matrix = sigmoid)

In [16]:
print(a)

['Toy Story 3', 'Toy Story 2', 'The 40 Year Old Virgin', 'For Your Consideration']

#### Content Based Filtering Using Cosine Similarity

In [17]:
from sklearn.metrics.pairwise import cosine_similarity

cossim = cosine_similarity(overview_matrix,overview_matrix)

In [18]:
def cossim_rec_movie(n, given_movie, cos_matrix = cossim):
    m_idx =  int(movie_overview[movie_overview['title']== given_movie].index[0])
    sims = list(enumerate(cos_matrix[m_idx]))
    sims = sorted(sims, key = lambda x:x[1], reverse = True)
    movie_num = sims[1:n]
    movie_out = []
    for i in movie_num:
        movie_out.append(movie_overview.iloc[i[0]]['title'])
    return movie_out

In [19]:
cossim_rec_movie(5, 'Star Wars')

['The Empire Strikes Back',
 'Return of the Jedi',
 'Shanghai Noon',
 'Baahubali: The Beginning']

#### Comparison:

In [20]:
given_movie = 'Avatar'
n = 10
a = sig_rec_movie(n, given_movie)
b = cossim_rec_movie(n, given_movie)
print(f"Because you watched {given_movie}:")
for i in range(len(a)):
    print(a[i])
print(f"Because you watched {given_movie}:")
for i in range(len(b)):
    print(b[i])

Because you watched Avatar:
Apollo 18
The American
The Matrix
The Inhabited Island
Tears of the Sun
Hanna
The Adventures of Pluto Nash
Semi-Pro
Supernova
Because you watched Avatar:
Apollo 18
The American
The Matrix
The Inhabited Island
Tears of the Sun
Hanna
The Adventures of Pluto Nash
Semi-Pro
Supernova

Results are expected because recommendation decisions were both based on the overview vectors. We could also include other vectors that are based on other features such as genre, cast, etc